@import "mixins.scss";

* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.people {
  position: relative;
  margin-top: 50px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 200px 200px;
  @include OnDesktop {
    grid-template-columns: 200px 200px 200px 200px;
  }
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  column-gap: 30px;
}

.photo {
  position: relative;
  height: 200px;
  width: 200px;
  padding-bottom: 8px;
}
.img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.rank {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #8b0000;
  text-align: center;
}

.rank {
  right: 10px;
  position: absolute;
  top: 90px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.name {
  color: #2f4f4f;
  text-align: center;
  font-size: 20px;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.extra {
  opacity: 0;
  visibility: hidden;
  margin-bottom: 10px;
  margin-top: 9px;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.person:hover {
  transform: scale(1.2, 1.3);
  border-radius: 10px;
  background: #eee;
  .extra {
    opacity: 100;
    visibility: visible;
  }
}
