@import "mixins.scss";

* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.people {
  position: relative;
  margin-top: 70px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 200px 200px;
  @include OnDesktop {
    grid-template-columns: 200px 200px 200px 200px;
  }
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  column-gap: 30px;
}

.photo {
  height: 200px;
  width: 200px;
  padding-bottom: 8px;
}
.img {
  transition-delay: 1s;
  transition: transform 1s;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.rank {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #8b0000;
  font-size: 16px;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  bottom: 120px;
  left: 158px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.name {
  color: #2f4f4f;
  text-align: center;
  font-size: 20px;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.extra {
  opacity: 0;
  visibility: hidden;
  margin-bottom: 10px;
  margin-top: 9px;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.person:hover {
  transform: scale(1.1, 1.3);
  border-radius: 10px;
  background: #eee;
  .extra {
    opacity: 100;
    visibility: visible;
  }
  .img {
    transition-delay: 1s;
    transform: scale(1.2);
  }
  animation-name: scaleAnimation;
  animation-duration: 0.3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.35, 1.55);
  }
}
